@{
    Layout = null;
}

<!doctype html>
<html lang="zxx">

<partial name="~/Views/LayoutPartial/_HeaderPartial.cshtml" />

<body>

    <partial name="~/Views/LayoutPartial/_NavbarPartial.cshtml" />

    @RenderBody()

    <partial name="~/Views/LayoutPartial/_FooterPartial.cshtml" />

    <partial name="~/Views/LayoutPartial/_ScriptsPartial.cshtml" />

</body>

</html>